/* GLOBAL STYLES */

:root {
  --black: #1d1d1d;
  --body: #f1f5f8;
  --footer: #e2e6e9;
  --text-weight: 400;
}

.dark-theme {
  --black: #fdfdfd;
  --body: #171a1e;
  --footer: #0d0f12;
  --text-weight: 300;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-padding-top: 4rem;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--body);
  color: var(--black);
}

p {
  font-size: 1.8rem;
  font-weight: var(--text-weight);
  opacity: 0.70;
  line-height: 1.6em;
  text-wrap: pretty;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1400px;
  margin: auto;
}

/*=============================== 
METHODOLOGY
================================*/

.page-hero-methodology {
  background-color: var(--footer);
  padding: 6rem 4rem;
  position: relative;
  overflow: hidden;
  animation: fadeIn .4s linear;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
}

.page-hero-methodology .container {
  width: 50%;
  position: relative;
  z-index: 1;
}

.page-back-btn {
  display: inline-block;
  padding: 1rem 0;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 2rem;
  transition: opacity .3s;
}

.page-back-btn:hover {
  opacity: .85;
}

.page-back-btn svg {
  width: 18px;
  height: 18px;
  fill: var(--black);
  vertical-align: middle;
  transition: transform .4s;
}

.page-back-btn:hover svg {
  transform: translateX(-4px);
}

.page-title {
  font-size: 3rem;
  letter-spacing: -.02em;
}

.author {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.author img {
  width: 85px;
}

.page-content-methodology {
  padding: 6rem 4rem;
  animation: fadeIn .4s linear;
}

.page-content-methodology .container {
  width: 50%;
}

.page-content-methodology strong,
.page-content-methodology b {
  font-weight: 600;
}

.page-content-methodology p:not(:last-child) {
  margin-bottom: 4rem;
}

/*=============================== 
FOOTER
================================*/

.footer {
  background-color: var(--footer);
  padding: 6rem 4rem;
  text-align: center;
  position: relative;
}

.socials {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.socials a {
  font-size: 2.5rem;
  opacity: .75;
  transition: all .4s;
}

.socials a:hover {
  opacity: 1;
  transform: scale(1.2);
}

.socials svg {
  width: 30px;
  height: 30px;
  fill: var(--black);
}

/*=============================== 
RESPONSIVE DESIGN
================================*/

@media screen and (max-width: 1080px) {
  .page-hero-methodology .container {
    width: 100%;
  }

  .page-content-methodology .container {
    width: 100%;
  }
}

@media screen and (max-width: 746px) {
  .footer {
    padding: 6rem 2rem;
  }

  .page-hero-methodology,
  .page-content-methodology {
    padding: 6rem 2rem;
  }
}


@media screen and (max-width: 350px) {
  html {
    font-size: 50%;
  }
}