/* GLOBAL STYLES */

:root {
  --black: #1d1d1d;
  --body: #f1f5f8;
  --footer: #e2e6e9;
  --title-weight: 600;
  --text-weight: 500;
}

.dark-theme {
  --black: #fdfdfd;
  --body: #171a1e;
  --footer: #0d0f12;
  --title-weight: 500;
  --text-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  background-color: var(--body);
  color: var(--black);
}

h1,
h2,
h3 {
  text-wrap: balance;
  overflow-wrap: break-word;
}

p {
  font-size: 1.25rem;
  font-weight: var(--text-weight);
  opacity: 0.70;
  line-height: 1.5;
  text-wrap: pretty;
}

a {
  text-decoration: none;
  color: inherit;
}

a:focus,
button:focus {
  outline-offset: 0.5rem;
}

.container {
  max-width: 87.5rem;
  margin: auto;
}

/*=============================== 
METHODOLOGY
================================*/

.page-hero-methodology {
  background-color: var(--footer);
  padding: 3.75rem 2.5rem;
  position: relative;
  overflow: hidden;
  animation: fadeIn .4s linear;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
}

.page-hero-methodology .container {
  width: 50%;
  position: relative;
  z-index: 1;
}

.page-back-btn {
  display: inline-block;
  padding: 0.625rem 0;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1.25rem;
  transition: opacity .3s;
}

.page-back-btn:hover {
  opacity: .85;
}

.page-back-btn svg {
  width: 1.125rem;
  height: 1.125rem;
  fill: var(--black);
  vertical-align: middle;
  transition: transform .4s;
}

.page-back-btn:hover svg {
  transform: translateX(-0.25rem);
}

.page-title {
  font-size: 1.875rem;
  font-weight: var(--title-weight);
}

.author-img {
  margin-top: 1.25rem;
  width: 8rem;
  height: auto;
  aspect-ratio: 200 / 205;
}

.page-content-methodology {
  padding: 3.75rem 2.5rem;
  animation: fadeIn .4s linear;
}

.page-content-methodology .container {
  width: 50%;
}

.page-content-methodology strong,
.page-content-methodology b {
  font-weight: 600;
}

.page-content-methodology p:not(:last-child) {
  margin-bottom: 2.5rem;
}

/*=============================== 
FOOTER
================================*/

.footer {
  background-color: var(--footer);
  padding: 3.75rem 2.5rem;
  text-align: center;
  position: relative;
}

.socials {
  margin-top: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.socials a {
  font-size: 1.625rem;
  opacity: .75;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform .4s;
}

.socials a:hover {
  opacity: 1;
  transform: scale(1.2);
}

.socials svg {
  width: 2rem;
  height: 2rem;
  fill: var(--black);
}

/*=============================== 
RESPONSIVE DESIGN
================================*/

/* 820 px */
@media screen and (max-width: 51.25rem) {
  .page-hero-methodology .container {
    width: 100%;
  }

  .page-content-methodology .container {
    width: 100%;
  }

  .page-hero-methodology,
  .page-content-methodology {
    padding: 3.75rem 1.25rem;
  }

  .footer {
    padding: 3.75rem 1.25rem;
  }
}

/* 576 px */
@media screen and (max-width: 36rem) {
  p {
    font-size: 1.125rem;
  }

  .page-hero-methodology,
  .page-content-methodology {
    padding: 3.75rem 1rem;
  }

  .footer {
    padding: 3.75rem 1rem;
  }
}

/* 340 px */
@media screen and (max-width: 21.25rem) {
  html {
    font-size: 90%;
  }
}