/* GLOBAL STYLES */

:root {
  --black: #1d1d1d;
  --white: #f8f5f8;
  --body: #f2f2f2;
  --footer: #e7e7e7;
  --accent-color: #3547b7;
  --link-text-color: #f8f5f8;
  --title-weight: 600;
  --text-weight: 500;
}

.dark-theme {
  --black: #fdfdfd;
  --body: #171a1e;
  --footer: #0d0f12;
  --accent-color: #87e2d5;
  --link-text-color: #000000;
  --title-weight: 500;
  --text-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  background-color: var(--body);
  color: var(--black);
}

h1,
h2,
h3 {
  text-wrap: balance;
  overflow-wrap: break-word;
}

p {
  font-size: 1.25rem;
  font-weight: var(--text-weight);
  opacity: 0.70;
  line-height: 1.5;
  text-wrap: pretty;
}

a {
  text-decoration: none;
  color: inherit;
  border-radius: 1rem;
}

a:hover {
  opacity: 0.8;
}

a:focus,
button:focus {
  outline-offset: 0.5rem;
}

button {
  cursor: pointer;
  font-family: inherit;
  color: inherit;
  border: none;
  border-radius: 1rem;
  background: none;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 87.5rem;
  margin: auto;
}

/*=============================== 
PAGE INDIVIDUAL PROJECT
================================*/

.page-hero-project {
  background-color: var(--footer);
  padding: 3.75rem 2.5rem;
  position: relative;
  overflow: hidden;
  animation: fadeIn .4s linear;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
}

.page-hero-project .container {
  width: 50%;
  position: relative;
  z-index: 1;
}

.back-button {
  display: inline-block;
  padding: 0.8rem 0;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1.25rem;
  transition: opacity .3s;
}

.back-button:hover {
  opacity: .85;
}

.back-button svg {
  width: 1.125rem;
  height: 1.125rem;
  fill: var(--black);
  vertical-align: middle;
  transition: transform .4s;
}

.back-button:hover svg {
  transform: translateX(-0.25rem);
}

.page-title-1 {
  font-size: 1.875rem;
  font-weight: var(--title-weight);
}

.page-title-2 {
  font-size: 1.375rem;
  font-weight: var(--title-weight);
  opacity: 0.9;
  margin-bottom: 1.25rem;
}

.page-content-project {
  padding: 3.75rem 2.5rem;
  animation: fadeIn .4s linear;
}

.page-content-project .container {
  width: 50%;
}

.page-content-project strong,
.page-content-project b {
  font-weight: 600;
}

.page-content-project p:not(:last-child) {
  margin-bottom: 2.5rem;
}

.links {
  display: flex;
  gap: 1rem;
  max-width: 31.25rem;
}

.link {
  font-size: 1.125rem;
  font-weight: 600;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex: 1;
  white-space: nowrap;
}

.link-1 {
  padding: 1rem 2.5rem;
  color: var(--link-text-color);
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);
}

.link-2 {
  padding: 1rem 1.875rem;
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
}

.link-1:hover,
.link-2:hover {
  opacity: .85;
}

.mockup {
  margin-top: 3.75rem;
  display: block;
  max-width: 50%;
  height: auto;
}

/*=============================== 
FOOTER
================================*/

.footer {
  background-color: var(--footer);
  padding: 3.75rem 2.5rem;
  text-align: center;
  position: relative;
}

.footer-copy {
  font-size: 1.5rem;
  opacity: 0.80;
}

.socials-list {
  margin-top: 2rem;
  display: grid;
  text-align: center;
  gap: 1.5rem;
}

.socials-list a {
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--accent-color);
  padding: 0.5rem;
  border-radius: 1rem;
}

.socials-list svg {
  width: 1.25rem;
  height: 1.25rem;
  fill: var(--accent-color);
  vertical-align: middle;
}

/*=============================== 
RESPONSIVE DESIGN
================================*/

/* 820 px */
@media screen and (max-width: 51.25rem) {
  a:hover {
    opacity: 1;
  }

  .page-hero-project .container {
    width: 100%;
  }

  .page-content-project .container {
    width: 100%;
  }

  .page-hero-project,
  .page-content-project {
    padding: 3.75rem 1.25rem;
  }

  .footer {
    padding: 3.75rem 1.25rem;
  }

  .footer-copy {
    font-size: 1.125rem;
    text-align: initial;
  }

  .socials-list {
    text-align: initial;
  }
}

/* 576 px */
@media screen and (max-width: 36rem) {
  p {
    font-size: 1.125rem;
  }

  .links {
    flex-direction: column;
  }

  .link-1:hover,
  .link-2:hover {
    opacity: 1;
  }

  .mockup {
    max-width: 100%;
  }

  .page-hero-project,
  .page-content-project {
    padding: 3.75rem 1rem;
  }

  .footer {
    padding: 3.75rem 1rem;
  }
}

/* 356 px */
@media screen and (max-width: 22.25rem) {
  html {
    font-size: 90%;
  }
}