/* GLOBAL STYLES */

:root {
  --black: #1d1d1d;
  --white: #f8f5f8;
  --body: #f1f5f8;
  --footer: #e2e6e9;
  --accent-color: #3547b7;
  --link-text-color: #f8f5f8;
  --title-weight: 600;
  --text-weight: 400;
}

.dark-theme {
  --black: #fdfdfd;
  --body: #171a1e;
  --footer: #0d0f12;
  --accent-color: #87e2d5;
  --link-text-color: #000000;
  --title-weight: 500;
  --text-weight: 300;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-padding-top: 4rem;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--body);
  color: var(--black);
}

p {
  font-size: 1.8rem;
  font-weight: var(--text-weight);
  opacity: 0.70;
  line-height: 1.6em;
  text-wrap: pretty;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 140rem;
  margin: auto;
}

/*=============================== 
PAGE INDIVIDUAL PROJECT
================================*/

.page-hero-project {
  background-color: var(--footer);
  padding: 6rem 4rem;
  position: relative;
  overflow: hidden;
  animation: fadeIn .4s linear;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
}

.page-hero-project .container {
  width: 50%;
  position: relative;
  z-index: 1;
}

.page-back-btn {
  display: inline-block;
  padding: 1rem 0;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 2rem;
  transition: opacity .3s;
}

.page-back-btn:hover {
  opacity: .85;
}

.page-back-btn svg {
  width: 1.8rem;
  height: 1.8rem;
  fill: var(--black);
  vertical-align: middle;
  transition: transform .4s;
}

.page-back-btn:hover svg {
  transform: translateX(-0.4rem);
}

.page-title-1 {
  font-size: 3rem;
  font-weight: var(--title-weight);
}

.page-title-2 {
  font-size: 2rem;
  font-weight: var(--title-weight);
  margin-bottom: 2rem;
}

.page-content-project {
  padding: 6rem 4rem;
  animation: fadeIn .4s linear;
}

.page-content-project .container {
  width: 50%;
}

.page-content-project strong,
.page-content-project b {
  font-weight: 600;
}

.page-content-project p:not(:last-child) {
  margin-bottom: 4rem;
}

.links {
  display: flex;
  gap: 2rem;
  max-width: 50rem;
}

.link {
  font-size: 1.8rem;
  font-weight: 600;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex: 1;
  white-space: nowrap;
}

.link-1 {
  padding: 1.5rem 4rem;
  color: var(--link-text-color);
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);
  transition: .4s;
}

.link-2 {
  padding: 1.5rem 3rem;
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
}

.link-1:hover,
.link-2:hover {
  opacity: .85;
}

.mockup {
  margin-top: 6rem;
  display: block;
  max-width: 50%;
  height: auto;
}

/*=============================== 
FOOTER
================================*/

.footer {
  background-color: var(--footer);
  padding: 6rem 4rem;
  text-align: center;
  position: relative;
}

.socials {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.socials a {
  font-size: 2.5rem;
  opacity: .75;
  transition: all .4s;
}

.socials a:hover {
  opacity: 1;
  transform: scale(1.2);
}

.socials svg {
  width: 3rem;
  height: 3rem;
  fill: var(--black);
}

/*=============================== 
RESPONSIVE DESIGN
================================*/

/* 820 px */
@media screen and (max-width: 51.25rem) {
  .page-hero-project .container {
    width: 100%;
  }

  .page-content-project .container {
    width: 100%;
  }

  .footer {
    padding: 6rem 2rem;
  }

  .page-hero-project,
  .page-content-project {
    padding: 6rem 2rem;
  }
}

/* 576 px */
@media screen and (max-width: 36rem) {
  p {
    font-size: 1.6rem;
  }

  .links {
    flex-direction: column;
  }

  .mockup {
    max-width: 100%;
  }
}

/* 340 px */
@media screen and (max-width: 21.25rem) {
  html {
    font-size: 50%;
  }
}