/* GLOBAL STYLES */

:root {
  --black: #1d1d1d;
  --grey-1: #f2f2f2;
  --grey-2: #b3b4b6;
  --body: #f1f5f8;
  --footer: #e2e6e9;
  --accent-color: #3547b7;
  --title-weight: 600;
  --text-weight: 500;
}

.dark-theme {
  --black: #fdfdfd;
  --grey-1: #c2c2c2;
  --grey-2: #606060;
  --body: #171a1e;
  --footer: #0d0f12;
  --accent-color: #87e2d5;
  --title-weight: 500;
  --text-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  background-color: var(--body);
  color: var(--black);
}

h1,
h2,
h3 {
  text-wrap: balance;
  overflow-wrap: break-word;
}

p {
  font-size: 1.25rem;
  font-weight: var(--text-weight);
  opacity: 0.70;
  line-height: 1.5;
  text-wrap: pretty;
}

a {
  text-decoration: none;
  color: inherit;
}

select {
  font-family: inherit;
  color: inherit;
}

a:focus,
button:focus {
  outline-offset: 0.5rem;
}

.container {
  max-width: 87.5rem;
  margin: auto;
}

/*=============================== 
PROJECTS
================================*/

.page-hero-projects {
  background-color: var(--footer);
  padding: 3.75rem 2.5rem;
  position: relative;
  overflow: hidden;
  animation: fadeIn .4s linear;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
}

.page-hero-projects .container {
  width: 50%;
  position: relative;
  z-index: 1;
}

.page-back-btn {
  display: inline-block;
  padding: 0.75rem 0;
  font-size: 1rem;
  font-weight: 500;
  color: var(--grey-1);
  margin-bottom: 1.25rem;
  transition: opacity .3s;
}

.page-back-btn:hover {
  opacity: .85;
}

.page-back-btn svg {
  width: 1.125rem;
  height: 1.125rem;
  fill: var(--black);
  vertical-align: middle;
  transition: transform .4s;
}

.page-back-btn:hover svg {
  transform: translateX(-0.25rem);
}

.page-title {
  font-size: 1.875rem;
  font-weight: var(--title-weight);
}

.page-content-projects {
  padding: 3.75rem 2.5rem;
  animation: fadeIn .4s linear;
}

.page-content-projects .container {
  width: 50%;
}

.label {
  display: block;
  font-size: 1.125rem;
  line-height: 1.4;
  opacity: 0.8;
  margin-bottom: 1.25rem;
}

.container-select {
  margin-bottom: 1.875rem;
  width: 15rem;
  position: relative;
  overflow: hidden;
}

.container-select svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0.25rem;
  width: 1.875rem;
  height: 1.875rem;
  fill: var(--grey-2);
  pointer-events: none;
}

.select {
  background-color: var(--body);
  border: 2px solid var(--grey-2);
  border-radius: 1rem;
  padding: 0.75rem 0.625rem;
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--black);
  cursor: pointer;
  width: 100%;

  /* All */
  appearance: none;
  /* Chrome y Safari */
  -webkit-appearance: none;
  /* Firefox */
  -moz-appearance: none;
}

.select:focus {
  outline: none;
  border: 2px solid var(--black);
}

/* Add "hide" class with JavaScript for the project filter functionality */
.project.hide {
  display: none;
}

.gallery {
  margin-top: 3.75rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1rem;
  column-gap: 0.5rem;
}

.gallery img {
  width: 100%;
  height: auto;
  transition: filter 0.2s ease;
}

.gallery img:hover {
  filter: contrast(80%);
}

/*=============================== 
FOOTER
================================*/

.footer {
  background-color: var(--footer);
  padding: 3.75rem 2.5rem;
  text-align: center;
  position: relative;
}

.socials {
  margin-top: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.socials a {
  font-size: 1.625rem;
  opacity: .75;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform .4s;
}

.socials a:hover {
  opacity: 1;
  transform: scale(1.2);
}

.socials svg {
  width: 2rem;
  height: 2rem;
  fill: var(--black);
}

/*=============================== 
RESPONSIVE DESIGN
================================*/

/* 820 px */
@media screen and (max-width: 51.25rem) {
  .page-hero-projects .container {
    width: 100%;
  }

  .page-content-projects .container {
    width: 100%;
  }

  .page-hero-projects,
  .page-content-projects {
    padding: 3.75rem 1.25rem;
  }

  .footer {
    padding: 3.75rem 1.25rem;
  }
}

/* 576 px */
@media screen and (max-width: 36rem) {
  p {
    font-size: 1.125rem;
  }

  .label {
    font-size: 1.125rem;
  }

  .container-select {
    width: 100%;
  }

  .gallery {
    grid-template-columns: 1fr 1fr;
  }

  .gallery img:hover {
    filter: contrast(100%);
  }

  .socials a:hover {
    opacity: 0.75;
    transform: scale(1);
  }

  .page-hero-projects,
  .page-content-projects {
    padding: 3.75rem 1rem;
  }

  .footer {
    padding: 3.75rem 1rem;
  }
}

/* 340 px */
@media screen and (max-width: 21.25rem) {
  html {
    font-size: 90%;
  }
}